---
---

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "ff-nuvo-web-pro", sans-serif;
	position: relative;
	padding: 0;
	margin: 0;

	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	&.home {
		background-image: url(/img/dpto_panama/1208_2358.jpg);
	}

	&.collado {
		&.step-1 {
			background-image: url(/img/collado/DSC012.jpg);
		}
		&.step-2 {
			background-image: url(/img/collado/DSC013.jpg);
		}
		&.step-3 {
			background-image: url(/img/collado/DSC014.jpg);
		}
		&.step-4 {
			background-image: url(/img/collado/DSC015.jpg);
		}
	}

	&.dpto_panama {
		&.step-1 {
			background-image: url(/img/dpto_panama/1208_2358.jpg);
		}
		&.step-2 {
			background-image: url(/img/dpto_panama/1208_2342.jpg);
		}
		&.step-3 {
			background-image: url(/img/dpto_panama/1208_2383.jpg);
		}
		&.step-4 {
			background-image: url(/img/dpto_panama/1208_2436.jpg);
		}
		&.step-5 {
			background-image: url(/img/dpto_panama/1209_2335.jpg);
		}
	}

	&.jenny {
		&.step-1 {
			background-image: url(/img/jenny/IMG_3846.jpg);
		}
		&.step-2 {
			background-image: url(/img/jenny/IMG_3876.jpg);
		}
		&.step-3 {
			background-image: url(/img/jenny/IMG_3879.jpg);
		}
		&.step-4 {
			background-image: url(/img/jenny/IMG_3884.jpg);
		}
		&.step-5 {
			background-image: url(/img/jenny/IMG_3885.jpg);
		}
	}

	&.silvia_alex {
		&.step-1 {
			background-image: url(/img/silvia_alex/IMG_8229.JPG);
		}
		&.step-2 {
			background-image: url(/img/silvia_alex/IMG_6518.JPG);
		}
		&.step-3 {
			background-image: url(/img/silvia_alex/IMG_6519.JPG);
		}
		&.step-4 {
			background-image: url(/img/silvia_alex/IMG_6520.JPG);
		}
		&.step-5 {
			background-image: url(/img/silvia_alex/IMG_6544.JPG);
		}
		&.step-6 {
			background-image: url(/img/silvia_alex/IMG_6553.JPG);
		}
		&.step-7 {
			background-image: url(/img/silvia_alex/IMG_8231.JPG);
		}
	}

	&.profile {
		background-image: url(/img/profile.png);
		background-position: bottom right;
		background-size: auto auto;
		background-color: #fafafa;
	}

}

#ribbon {
	position: absolute;
	background-color: white;
	width: 220px;
	top: 0;
	left: 44px;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;

	h1 {
		font-size: 32px;
		line-height: 44px;
		margin: 0;
		padding: 44px 11px;
	}

	a {
		color: black;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 11px;
	}

	li {
		font-family: "ff-nuvo-sc-web-pro", sans-serif;
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 18px;
		line-height: 44px;
		text-transform: lowercase;
		letter-spacing: 1px;

		&.active {
			font-weight: bold;
		}

		li {
			line-height: 22px;
		}
	}
}

.main-canvas {
	margin: 0;
	padding: 176px 44px 44px 308px;
	max-width: 660px;
	line-height: 22px;
	font-size: 16px;

	p {
		margin-bottom: 22px;
	}
}
