<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Denise Schiller architects</title>
    <meta name="author" content="Rocio Paez">
    <link rel="stylesheet" href="css/deniseschiller.css" type="text/css">
    <script src="https://use.typekit.net/nsu5jru.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>steps = {{ page.steps }};</script>
    <script src="/js/deniseschiller.js"></script>
  </head>
  <body class="{{ page.uid }}">
    <div id="ribbon">
      <header>
        <h1 class="banner">
          <a href="index.html">
            Denise Schiller
          </a>
        </h1>
      </header>
      <nav>
        <ul>
          <li>
            Projects
            <ul>
              <li>
                <a href="/collado.html">Collado</a>
              </li>
              <li>
                <a href="/dpto_panama.html">Dpto Panama</a>
              </li>
              <li>
                <a href="/jenny.html">Jenny</a>
              </li>
              <li>
                <a href="/silvia_alex.html">Silvia Alex</a>
              </li>
              <li>
                <a href="/fx.html">FX</a>
              </li>
              <li>
                <a href="/js.html">JS</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/profile.html">Profile</a>
          </li>
          <li>
            <a href="/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>
